html {
    scroll-behavior: smooth;
    font-family: Montserrat, 'Noto Sans KR', sans-serif;

}
body {
    padding: 0;
    margin: 0;
    background-color:#000000;
}
h1, p {
    position: relative;
    font-size: 40px;
    text-align: center;
    color: white;
}
#title {
    font-size: 100px;
    position: relative;
    top: 200px;
    
}
#subtitle {
    position: relative;
    top: 150px;
}
#VideoLayer {
    position: fixed;
    z-index: 999;
    display: none;
    background: none rgba(0, 0, 0, 0.9);
    top: 10%;
    left:24%;
}
.youtube {
    position: relative;
    text-align: center;

}
.parallax1 {
    background-image : url('img/wallpaper.jpg');
    opacity: 1;
    height: 100%;
    
    padding: 5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image : url('img/roborecall.jpg');
    height: 100%;
    
    padding: 5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    background-image : url('img/pubg.jpg');
    height: 100%;
    padding: 5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax4 {
    background-image: url('img/fortnite.jpg');
    height: 100%;
    padding: 5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.division {
    height: 10;
    background-color: #000000;
}
#instagram, #facebook, #github {
    position: relative;
    top: 10px;

}
.table a {
    text-decoration: none;
    color: white;
    font-size: 30pt;
    position: relative;
    text-align: center;
    top: 200px;
    left: 550px;
}