.circle {
  float: left;
    width:300px;
    height:300px;
    border-radius: 50%;
    object-fit:cover;
    z-index: 3;
}

  #ue4, #stress {
    position: absolute; 
    left: 25%;
    top: 800px;
  }
  #vr, #sports {
    position: absolute;
    left: 55%;
    top: 800px;
  }
  #stress, #sports {
    top: 1600px;
  } 