.wrap {
  position: relative;
}
.top {
  background-color: rgb(148, 148, 148);
  opacity: 0.7;
  position: fixed;
  width:100%;
  z-index: 10;
}
.float {
  position: fixed;
}
.content {
  position: relative;
}

nav {
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
    box-shadow: 0px 2px 0px #FFFFFF;
}
a {
  transition: 0.5s;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .3s;
}
nav.bar ul li a {
    position: relative;
    z-index: 1;
}
nav.bar ul li a:hover { /*color of font when hovered*/
    color: rgb(255, 255, 255);
}
nav.bar ul li a:after {/*the block when hovered*/
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: auto;
    height: 1px;
    content: '.';
    color: transparent;
    background: rgb(182, 182, 182);
    visibility: none;
    opacity: 0;
    z-index: -1;
}
nav.bar ul li a:hover:after {
    opacity: 1; 
    visibility: visible;
    height: 50;
}